@model TransferDesk.Services.Manuscript.ViewModel.JournalSectionTypeVM

@{
    ViewBag.Title = "JournalSectionTypes";
    Layout = "~/Views/Shared/_ManuscriptAdmin.cshtml";
}

@Scripts.Render("~/bundles/JournalSectionType")

<style type="text/css">
    .row {
        margin-top: 10px;
    }

    .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
        padding: 5px;
    }

    .col-lg-4 {
        padding: 0px;
    }

    th {
        text-align: center;
    }

    .datamargin {
        margin-top: 10px;
    }

    tbody {
        width: 1100px;
        display: block;
        overflow-y: scroll;
        height: 350px;
    }

    thead {
        display: block;
        position: relative;
        width: 100%;
    }


    body {
        padding: 10px;
    }
</style>
<br /><br />

<h3 style="padding-left:22px;text-decoration:underline;">Journal Section Type</h3>
<div class="container-fluid" style="padding-left:20px">
    @Html.Raw(TempData["msg"])
    <div class="main col-lg-12">

        @using (Html.BeginForm("JournalSectionTypes", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(y => y.JournalTitleName)
            @Html.HiddenFor(x => x.ID)
            @Html.HiddenFor(x => x.SectionTypeID)
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-4">
                        Journal Title
                    </div>
                    <div class="col-lg-8">
                        @Html.DropDownListFor(x => x.JournalID, new SelectList(ViewBag.JournalList, "ID", "JournalTitle"), "Select-Journal Title", new { @class = "form-control input-sm", id = "ddlJournalTitle" })
                        @Html.ValidationMessageFor(x => x.JournalID, "", new { style = "color:red" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        Section
                        <span class="asterik">* </span>
                    </div>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(x => x.SectionName, new { @class = "form-control input-sm", placeholder = "Enter Section Name" })
                        @Html.ValidationMessageFor(x => x.SectionName, "", new { style = "color:red" })

                    </div>
                </div>
                <div class="row" id="dvIsActive">
                    <div class="col-lg-4">
                        IsActive
                    </div>
                    <div class="col-lg-8">
                        @Html.CheckBoxFor(x => x.IsActive)
                    </div>
                </div>
                <div class="row" style="text-align:right;padding-right:2em">
                    <div class="col-lg-12" style="padding-bottom:20px;">
                        <input type="submit" id="btnAdd" class="btn btn-primary btn-sm" value="Add" />
                        <input type="button" value="Reset" id="btnReset" class="btn btn-primary btn-sm" />
                    </div>
                </div>
            </div>
        }


    </div>
    <div class="col-lg-4" style="width:100%">
        <table class="table table-bordered table-striped table-hover " style="margin-top:20px; width:1104px;">
            <thead>
                <tr>
                    <th style="width:695px;">
                        Journal Title
                    </th>
                    <th style="width: 493px;">
                        Section
                    </th>
                    <th style="width:124px;">
                        Active
                    </th>
                    <th style="width:167px;">
                        Action
                    </th>
                </tr>
            </thead>
            @foreach (var data in Model.sectiondetails)
            {
                <tr>
                    <td style="display:none ">@data.ID</td>
                    <td style="display:none ">@data.JrID</td>
                    <td style="width: 750px;">
                        @data.JrTitle
                    </td>
                    <td style="width: 500px;">@data.SectionValue</td>
                    <td align="center" width="150px">
                        @Html.CheckBox("IsActive", @data.IsActive, new { disabled = "disabled" })
                    </td>
                    <td width="150px" align="center">
                        <input type="button" id="btnEdit" class="btn btn-primary btn-sm editButton" style="line-height: normal;" value="Edit" />
                    </td>
                    <td style="display:none ">@data.SectionTypeID</td>
                </tr>
            }
        </table>


    </div>

</div>






