<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Transfer Desk</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript"> var AppPath = '@Url.Content("~/")' </script>
    <style>
        .headingReviewer {
            padding-left: 125px;
            font-family: Arial;
            font-size: 25px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top" style="background-color:whitesmoke;">
        <div class="container">
            <br />
            <div class="navbar-header">

                <p style="display:inline;padding-right:40px">
                    <img src="~/Images/Springer-Nature.jpg" width="250px" height="35px" title="Springer Logo" />
                    <span class="headingReviewer">Reviewers Suggestions</span>
                    <table align="right">
                        <tr>
                            <td>
                                @Html.DropDownList("SelectedValue", new SelectList(ViewBag.SearchList, "ID", "SearchByname"), new { @class = "form-control input-sm searchControl-size" })
                            </td>
                            <td><input type="text" id="txtSearch" class="form-control input-sm searchControl-size txtSearchBy" name="SearchBy" placeholder="Search journals" /></td>
                            <td>
                                <input type="button" id="btnSubmit" value="Go" class="btn btn-primary btn-sm" data-target="#myModal" />
                                <input type="reset" id="btnNewAdd" value="New" class="btn btn-primary btn-sm">
                                <a href="http://192.168.84.6/transferDeskservicereport/ReviewerSuggestion.aspx" target="_blank" class="btn btn-primary btn-sm" role="button" id="btnReport">Report</a>
                                @*<a href="http://192.168.84.68/TransferDeskServiceReporttesting/ReviewerSuggestion.aspx " target="_blank" class="btn btn-primary btn-sm" role="button" id="btnReport">Report</a>*@
                            </td>
                        </tr>
                    </table>
                </p>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade modal-wide" tabindex='-1' data-backdrop="static" data-dismiss="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <label> Search Result(s)</label>
                    <button type="button" class="close" data-dismiss="modal" name="ClosePopup" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <div id="myPartialViewDiv" class="table-responsive">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnOk" class="btn btn-default btn-sm">Ok</button>
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" name="ClosePopup">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br />
        <hr />
        <footer>
            <div class="col-md-11">
                <p align="center"> Copyright &copy; @DateTime.Now.Year | Springer Nature</p>
            </div>
            <div class="col-md-1">
                <p>MS v1.0.6</p>
            </div>
        </footer>
    </div>
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>
